<div class="mt-4">
    <form method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Key words</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="input keywords">
        </div>

        <div class="mb-3">
            <label for="gender-input" >Key words</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Choose gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>